.homeBody{
    height: 100vh;
    overflow: hidden;
}

.mainContainer {
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 0;
}

.homeOptionsGrid {
    position: relative;
    z-index: 1;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    height: 80vh;
}

.homeOptionsGrid a {
    text-decoration: none;
}

.homeFooterBox h2{
    display: flex;
    justify-content: center;
}

@media screen and (max-width: 960px) {
    .homeOptionsGrid {
        margin-top: min(max(10vh), 25%);
        display: block;
        height: 66vh;
    }
    .homeFooterBox h2{
        font-size: medium;
    }
}