.inputResultBox {
    margin-top: 1%;
    border-right: 2px solid black;
    border-left: 2px solid black;
    width: 85%;
    min-width: 300px;
    position: relative;
    height: 100%;
}

.inputPicker {
    margin: 0;
    background-color: white;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    padding: 1%;
    display: grid;
    grid-template-columns: 2fr 1fr;
    transition: all 0.5s;
}

.inputPicker:last-of-type {
    border: none;
}

.inputPicker:first-of-type {
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}

.inputPicker:hover {
    color: white;
    cursor: pointer;
    background-color: black;
}

.inputPickerNameAndImg {
    display: grid;
    grid-template-columns: 1fr 2fr;
}

.inputImg {
    margin: auto 20%;
    width: min(max(50%), 50px);
    height: fit-content;
}

.inputPrice {
    width: 100%;
}

.priceBox {
    text-align: center;
}

.buttonBox {
    display: flex;
    justify-content: center;
}