@import url('https://fonts.googleapis.com/css2?family=Inter&family=Press+Start+2P&display=swap');

body {
    background-color: #252525;
    display: flex;
    justify-content: center;
    font-family: 'Inter', sans-serif;
}

.pageTitle{
    color: #DB5510;
    text-align: center;
    margin-bottom: 0;
}

input,
button {
    font-family: 'Inter', sans-serif;
}

.mainTitle{
    text-align: center;
    color: #DB5510;
}

.mainContainer {
    display: grid;
    grid-template-columns: 1fr 8fr 1fr;
    max-width: 1200px;
    height: 100vh;
}

.cpuList {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.cpuInfo {
    margin-top: 12.5%;
    margin-bottom: 12.5%;
    height: 80%;
}

.cpuImage {
    background-color: white;
    width: 90%;
    min-width: 160px;
    height: 30%;
    display: flex;
    justify-self: center;
    border-radius: 5px;
    padding: 2% 0;
}

.cpuImage img {
    width: 70%;
    margin: auto;
}

.cpuSpecs {
    background-color: white;
    width: 90%;
    min-width: 160px;
    text-align: center;
}

.cpuSpecs h1 {
    padding-top: 10px;
    font-size: large;
}

.cpuSpecs p {
    margin: 3%;
}

.dualSpecBox {
    display: grid;
    grid-template-columns: 6fr 1fr;
}

button {
    border: none;
}

.editButton,
.deleteButton {
    background-color: white;
}

.editButton img,
.deleteButton img {
    width: 50%;
}

.editDeleteButtons {
    margin-top: 5%;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.orangeButton {
    background-color: #DB5510;
    border: none;
    padding: 5%;
    margin: 10% 0;
    font-weight: bold;
    color: white;
    border-radius: 5px;
}

.orangeButton:hover {
    cursor: pointer;
    background-color: black;
}

.addCpu {
    position: fixed;
    bottom: 1%;
    right: 5%;
    background-color: #DB5510;
    border-radius: 50px;
    color: white;
    width: 30%;
    min-width: 50px;
    max-width: 80px;
    height: 8%;
    font-size: 150%;
}

.addCpu h1 {
    margin: auto;
}

.addCpuScreen {
    position: fixed;
    right: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.589);
    display: flex;
    justify-content: center;
}

.addCpuArea {
    margin: auto;
    margin-top: 7vh;
    width: 70%;
    height: 80%;
    background-color: #252525;
    max-width: 1366px;
    display: grid;
    grid-template-columns: 1fr 2fr;
}

.addInput {
    border: 3px solid black;
    margin: 2% 5%;
}

.closeAddScreen {
    background-color: red;
}

.imageAndPerformanceArea {
    height: 100%;
    margin: 5% 10%;
}

.addCpuImage {
    margin: 10% 0;
    width: 85%;
    height: 35%;
    max-height: 250px;
}

.addInputArea {
    position: relative;
    top: 20%;
    right: 5%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    height: 50%;
}

.cpuOtherInformation {
    margin-top: 20%;
    height: 40%;
    display: block;
    width: 90%;
}

.igpuCheckbox {
    margin-top: 5%;
    height: 50%;
}

.performanceInput {
    width: 50%;
    height: 50%;
    text-align: center;
    font-weight: bold;
}


@media only screen and (max-width: 1200px) {
    .addInputArea {
        grid-template-columns: 1fr 1fr;
    }
}

@media only screen and (max-width: 800px) {
    .cpuList {
        grid-template-columns: 1fr 1fr;
    }

    .addInput {
        width: 80%;
    }

    .addCpuArea {
        grid-template-columns: 55% 50%;
    }

    .addInputArea {
        grid-template-columns: 1fr;
    }
}