@import url('https://fonts.googleapis.com/css2?family=Inter&family=Press+Start+2P&display=swap');

body {
    margin: 0;
    background-color: #252525;
    display: flex;
    justify-content: center;
    font-family: 'Inter', sans-serif;
}
