.mainContainer {
    display: flex;
    justify-content: center;
}

.pageTitle,
.buildPrice {
    text-align: center;
}

.partPicker {
    padding: 1%;
    background-color: white;
    border-radius: 20px;
    display: grid;
    grid-template-columns: 0.5fr 3fr 1fr;
    height: min(max(180px), 42.5%);
}

.imgBox {
    margin: 3vh 10%;
    height: 60%;
    max-height: 85px;
    max-width: 120px;
    width: 90%;
    border: 2px solid black;
    display: flex;
    justify-content: center;
}

.imgBox img {
    margin: auto;
    height: fit-content;
    width: 80%;
    max-height: 70px;
    max-width: 70px;
}

.partNameAndInputBox {
    margin: auto 5%;
}

.partPickerInput {
    border: 2px solid black;
    border-radius: 10px;
    width: 45%;
    min-width: 300px;
    padding: 1%;
}

.inputResultBox {
    margin-top: 1%;
    border-right: 2px solid black;
    border-left: 2px solid black;
    width: 85%;
    min-width: 300px;
    position: relative;
    height: 100%;
}

.inputPicker {
    margin: 0;
    background-color: white;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    padding: 1%;
    display: grid;
    grid-template-columns: 2fr 1fr;
    transition: all 0.5s;
}

.inputPicker:last-of-type {
    border: none;
}

.inputPicker:first-of-type {
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}

.inputPicker:hover {
    color: white;
    cursor: pointer;
    background-color: black;
}

.inputPickerNameAndImg {
    display: grid;
    grid-template-columns: 1fr 2fr;
}

.inputImg {
    margin: auto 20%;
    width: min(max(50%), 50px);
    height: fit-content;
}

.inputPrice {
    width: 100%;
}

.priceBox {
    text-align: center;
}

.buttonBox {
    display: flex;
    justify-content: center;
}