.homeOption {
    margin: auto 10px;
    height: 100%;
    background-color: white;
    border-radius: 10px;
    display: grid;
    grid-template-rows: 2fr 3fr;
}

.optionIconBox {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 2px solid black;
}

.optionIcon {
    width: 50%;
    height: auto;
    margin: auto;
}

.optionDescriptionButtonBox {
    background-color: grey;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.optionDescriptionButtonBox h1 {
    margin: 0 10px;
}

@media screen and (max-width: 960px) {
    .homeOption {
        display: grid;
        grid-template-columns: 1fr 2fr;
        grid-template-rows: 1fr;
    }

    .optionIconBox {
        border-bottom: none;
        border-right: 2px solid black;
    }

    .optionDescriptionButtonBox h1 {
        font-size: medium;
        margin-bottom: 10px;
    }
    .optionDescriptionButtonBox button{
        margin: 0 5px;
    }
}