.partFilters{
    height: 3%;
    min-height: 50px;
    color: #DB5510;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    position: relative;
    right: 0;
    width: 98%;
    min-width: 400px;
}

.partFilterBox{
    margin: 0 1%;
}

.partFilter{
    color: black;
    background-color: white;
}

.partFilter:hover{
    background-color: black;
    color: white;
    cursor: pointer;
}

.partFilter h4{
    margin: 0 2%;
}

.specCircle {
    margin: 10%;
    border-radius: 50px;
    border: 1px solid rgba(0, 0, 0, 0.103);
    display: flex;
    justify-content: center;
}

.specCircle p{
    font-weight: bold;
    margin: auto;
}


@media screen and (max-width: 1000px) {
    .partFilters{
        grid-template-columns: 1fr 2fr 2fr;
    }
  }
