.partFilterBox{
    width: 95%;
}

.partFilter{
    font-size: calc(7px + 35%);
    width: 100%;
    background-color: white;
    color: black;
    border: 1px solid black;
    padding: 5% 0;
    transition: all 0.5s;
    text-transform: uppercase;
}

.partFilter:hover{
    background-color: black;
    color: white;
    cursor: pointer;
}

.partFilter h4{
    margin: 0 2%;
}

.specCircle {
    margin: 10%;
    border-radius: 50px;
    border: 1px solid rgba(0, 0, 0, 0.103);
    display: flex;
    justify-content: center;
}

.specCircle p{
    font-weight: bold;
    font-size: small;
    margin: auto;
}

.dualSpecBox {
    display: grid;
    grid-template-columns: 6fr 1fr;
}


@media screen and (max-width: 1000px) {
    .partFilters{
        grid-template-columns: 1fr 2fr 2fr;
    }
  }
