.orangeButton {
    background-color: #DB5510;
    border: none;
    padding: 5%;
    font-weight: bold;
    color: white;
    border-radius: 5px;
    grid-column-start: 2;
}

.orangeButton:hover {
    cursor: pointer;
    background-color: black;
}

.specCircle {
    height: 70%;
    width: 75%;
    border-radius: 50px;
    border: 1px solid rgba(0, 0, 0, 0.103);
}

@media only screen and (max-width: 800px) {
    .orangeButton {
        grid-column-start: 1;
        margin: 5% auto;
    }
}