.orangeButton {
    background-color: #DB5510;
    border: none;
    padding: 5%;
    font-weight: bold;
    color: white;
    border-radius: 5px;
    grid-column-start: 2;
}

.orangeButton:hover {
    cursor: pointer;
    background-color: black;
}

.specCircle {
    height: 70%;
    width: 75%;
    border-radius: 50px;
    border: 1px solid rgba(0, 0, 0, 0.103);
}

.cpuIgpu,
.performanceBox {
    display: grid;
    grid-template-columns: 50% 50%;
    height: 25%;
    width: 100%;
    margin-left: 5%;

}

.performanceBox {
    text-size-adjust:calc(50%);
    font-size: small;
    grid-template-columns: 65% 35%;
}


@media only screen and (max-width: 800px) {
    .orangeButton {
        grid-column-start: 1;
        margin: 5% auto;
    }
}