.profileScreen{
  display: flex;
  justify-content: center;
}

.userProfile{
  margin-top: 3%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.userPhotoBox{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 25vh;
  width: 100%;
  max-width: 500px;
}

.userPhoto{
  background-color: grey;
  width: 50%;
  object-fit: cover;
  height: 100%;
  border-radius: 30px;
}

.userNameBox{
  display: flex;
  justify-content: center;
  text-align: center;
}

.userNameBox img{
  margin: auto 2.5%;
  width: 7.5%;
  height: fit-content;
}

.editUserProfileBox{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.editUserProfile{
  background-color: #252525;
  border-radius: 25px;
  height: 75%;
  width: 50%;
  min-width: 400px;
  max-width: 600px;
  color: #DB5510;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.editUserPhoto{
  width: 40%;
  object-fit: cover;
  height: 33%;
  border-radius: 20px;
  margin-bottom: 2%;
}

.editUserProfile button{
  display: flex;
  align-items: center;
  height: 5%;
  font-size: 100%;
}

.editUserProfile input{
  width: 70%;
  padding: 1%;
}

.userNameCheckError{
  text-align: center;
  color: red;
  font-size: small;
  margin: 2% 0% 5% 0;
}

.userNameCheckError:hover{
  cursor: default;
  color: red;
}

.saveAndCancelButtons{
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: center;
}

.saveAndCancelButtons button{
  margin: auto 2.5%;
  height: 33%;
}

.userBuildsLabel{
  text-align: center;
}

.signIn{
  margin: 10% 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 25%;
}

.signIn button{
  margin: 2.5% 0;
  height: 50%;
  font-size: larger;
  display: flex;
  align-items: center;
}

.buildsContainer{
  display: grid;
  grid-template-columns: 1fr 1fr;
  min-width: 250px;
}

dialog{
  background-color: rgba(0, 0, 0, 0.829);
  width: 100%;
  height: 100%;
}

.deleteBuildMenuBackground{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
}

.deleteBuildMenu{
  width: 60%;
  height: 25%;
  min-width: 300px;
  max-width: 600px;
  min-height: 200px;
  color: #DB5510;
  background-color: #252525;
  border-radius: 20px;
}

.deleteBuildMenu button{
  font-size: larger;
  margin: 2%;
}

@media screen and (max-width: 720px) {
  .buildsContainer{
    grid-template-columns: 1fr;
  }
}

@media screen and (max-width: 480px) {
  .editUserProfile{
    height: 80%;
  }
}

@media screen and (max-width: 360px) {
  .editUserProfile{
    height: 120%;
  }
}