.profileScreen{
  display: flex;
  justify-content: center;
}

.buildsContainer{
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.buildBox{
  margin: 2.5%;
}

.buildInfoAndButtons{
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.buildButtons{
  display: flex;
  justify-content: end;
}

.buildButtons div{
  width: 50%;
  display: flex;
}

.buildButtons img{
  margin: auto 5%;
  padding: 5%;
  width: 33%;
  height: fit-content;
}


.buildLabel{
  text-align: end;
}

.partBox{
  padding: 2%;
  background-color: rgb(20, 20, 20);
  border-radius: 20px;
}

.partSpecsBox{
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  padding: 1%;
  margin: 5% 0;
  background-color: #252525;
  border-radius: 20px;
  text-align: center;
}

.partSpecsBox h4{
  align-self: center;
}

.partSpecsImg{
  background-color: white;
  margin: auto 5%;
  border-radius: 10px;
  width: 60%;
  height: fit-content;
}

.partSpecsImg img{
  margin: 10%;
  width: 75%;
  height: fit-content;
}

@media screen and (max-width: 960px) {
  .buildsContainer{
    grid-template-columns: 1fr;
  }
}